<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EstatusProceso" value="P" />
    <add key="EstatusAceptado" value="B" />
    <add key="EstatusRechazado" value="R " />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework codeConfigurationType="TareaSeguimientoHistorial.MySqlEFConfiguration, TareaSeguimientoHistorial">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="EFDbContext" connectionString="Server=localhost;Database=factCRDb;UID=root;Password=" providerName="MySql.Data.MySqlClient" />-->
    <add name="EFDbContext" connectionString="Server=DESKTOP-Daniel;Database=factCRDb;UID=sa;Password=Rigel2013" providerName="System.Data.SqlClient" />
    <!--<add name="EFDbContext" connectionString="Server=192.168.0.13;Port=3306;Database=facturacionelectronica2;UID=daniel;Password=daniel" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="EFDbContext" connectionString="Server=localhost;Database=facturacionElectronica3;UID=root;Password=" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>